<b:style>
    nav.navbar {
    border-top: 4px solid #276cda;
    margin-bottom: 1rem;
    }
</b:style>

<nav class="navbar is-white">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <span class="navbar-item brand-text">
                {name}
            </span>
            <!--<div class="navbar-burger burger" data-target="navMenu">-->
                <!--<span>sddc</span>-->
                <!--<span></span>-->
                <!--<span></span>-->
            <!--</div>-->
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <!--{childNodesHere}-->
            </div>
            <div class="navbar-end">
             <span class="navbar-item brand-text" event-click="signOut">
                Выйти
            </span>
            </div>
        </div>
    </div>
</nav>