<b:style>
    .navbar-item.brand-text {
    font-weight: 300;
    }
    .navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
    }
</b:style>

<a class="navbar-item" href="admin.html">
    {title}
</a>