<b:style src="./dashboard.css"/>

<div class="container is-fullhd">
    <!--{navbar}-->
    <div class="columns">
        <div class="column is-2">
            <!--{menu}-->
        </div>
        <div class="column is-10">
            <!--{area}-->
        </div>
    </div>
</div>