
<b:style src="./init.css"/>

<div>
    <form class="form-signin">
        <div class="text-center">
            <img class="mb-4 rounded " src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="72" height="72">
        </div>


        <label class="sr-only">Email address</label>
        <input type="email" class="form-control" placeholder="Ваш адрес"  autofocus>
        <label class="sr-only">Password</label>
        <input type="password"  class="form-control" placeholder="Пароль" >
        <div class="checkbox mb-3">
            <!--<label>-->
            <!--<input type="checkbox" value="remember-me"> Запомнить меня-->
            <!--</label>-->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" event-click="signIn">Войти</button>
    </form>
</div>