
<b:define name="active" from="selected" type="bool"/>
<div>
    <li class="nav-item">
        <div class="nav-link {active}" data-url="{url}" event-click="click">
            <span data-feather="home"></span>
            {name}
        </div>
    </li>
</div>