<b:style>
    .menu_item{
    margin-bottom: 3%;
    }
</b:style>
<div class="menu_item">
    <p class="menu-label">
        {title}
    </p>
    <ul class="menu-list">
        <!--{childNodesHere}-->
    </ul>
</div>