<!--&lt;!&ndash;<b:define name="active" from="selected" type="bool"/>&ndash;&gt;-->
<!--<li><a class="is-active">{name}</a></li>-->

  <div>
      <ul class="menu-list">
          <!--{childNodesHere}-->
      </ul>
  </div>
