<b:style src="./menu.css"/>

<div>
    <aside class="menu" b:hide="{isNotShow}">
        <!--{childNodesHere}-->
    </aside>
    <div b:show="{loading}">
        <!--{preloader}-->
    </div>
    <p b:show="{isError}" class="menu-error">Меню отсутствует</p>
</div>