<div>
    <form{form} event-submit="save" >
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Id</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        {id}
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="email" placeholder="{email}" value="{email}" event-input="updateEmail">
                    </p>
                    <p class="help is-danger" b:hide="{trueEmail}">
                        Email не валиден
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field is-expanded">
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-static">
                                +7
                            </a>
                        </p>
                        <p class="control is-expanded">
                            <input class="input" name="phone" type="tel"  value="{phone}" event-input="inputPhone">
                        </p>

                    </div>
                    <p class="help is-danger" b:hide="{truePhone}">
                        Телефон не введен полностью
                    </p>
                    <!--<p class="help">Do not enter the first zero</p>-->
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Подтвержден профиль?</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control" event-change="changeConfirmed">
                        <label class="radio">
                            <input type="radio" name="member" value="true" checked="{confirmed}">
                            Да
                        </label>
                        <label class="radio">
                            <input type="radio" name="member" value="false" checked="{notConfirmed}">
                            Нет
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Дата создания</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="datetime" name="created_at" placeholder="{created_at}" value="{created_at}" event-input="inputCreatedAt">
                    </div>
                    <p class="help is-danger" b:hide="{trueCreatedAt}">
                        Дата не верна
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body ">
                <div class="field is-grouped is-grouped-right">
                    <p class="control">
                        <a type="submit" class="button is-primary" disabled="{notSave}" event-click="save">Сохранить</a>
                    </p>
                    <p class="control">
                        <a class="button is-warning" event-click="cancel">Отменить</a>
                    </p>
                </div>
            </div>
        </div>
    </form>

</div>