<b:define name="is-selected" from="selected" type="bool"/>

<tr class="{is-selected}" event-click="select">
    <th>{id}</th>
    <td>{email}</td>
    <td>{phone}</td>
    <td>{created_at}</td>
    <td>{confirmed}</td>
    <td>{recent_activity}</td>
</tr>