<b:define name="is-selected" from="selected" type="bool"/>
<b:style src="./users_item.css"/>

<tr class="{is-selected}" event-click="select">
    <th>{id}</th>
    <td>{email}</td>
    <td>{phone}</td>
    <td>{recent_activity}</td>
    <td>{confirmed}</td>
    <td>{created_at}</td>
    <td class="users_item__delete">
        <span class="icon" event-click="edit">
          <i class="fa fa-pencil-square-o"></i>
        </span>
        <button class="delete" event-click="deleted"></button>
    </td>

</tr>