<b:style src="./users.css"/>

<div class="container-dashboard">
    <div class="columns" b:hide="{isNotShow}">
        <div class="column is-one-fifth">
            <div class="field">
                <label class="label">Фильтр</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Введите email" event-input="input">
                </div>
            </div>

        </div>
    </div>

    <table class="table" b:hide="{isNotShow}">
        <thead>
        <tr>
            <th><abbr title="Position">#</abbr></th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Последния активность</th>
            <th><abbr title="Подтверждение аккаунта">Подтвержден</abbr></th>
            <th>Дата создания</th>
        </tr>
        </thead>

        <tbody>
        <!--{childNodesHere}-->
        </tbody>
    </table>
    <p b:show="{isError}" class="col-md-9">Произошла ошибка</p>

    <div b:show="{loading}" class="preloader">
        <!--{preloader}-->
    </div>
</div>