<b:style src="./users.css"/>

<div class="container-dashboard">
    <table class="table" b:hide="{isNotShow}">
        <thead>
        <tr>
            <th><abbr title="Position">#</abbr></th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Последния активность</th>
            <th><abbr title="Подтверждение аккаунта">Подтвержден</abbr></th>
            <th>Дата создания</th>
        </tr>
        </thead>

        <tbody>
        <!--{childNodesHere}-->
        </tbody>
    </table>
    <p b:show="{isError}" class="col-md-9">Произошла ошибка</p>

    <div b:show="{loading}" class="preloader">
        <!--{preloader}-->
    </div>
</div>